.road-map {
  height: auto;
  width: 100%;

  background-image: url(./../../Assets/Rectangle42.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.ul {
  list-style: none;
}

ul li:before {
  color: white;
  content: url(./../../Assets/tic.png);
  font-weight: bold;
}

.side-list {
  margin-left: 8rem;
}
